


.crumbdiv {
  position: relative;
  left: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  background: #162248 !important;
  border-bottom: 1px solid #f1f2f3;

}
/*
.el-breadcrumb__item:first-child .el-breadcrumb__inner {
 font-size: 18px;
  //color: #ffffff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  //color: #ffffff !important;
  font-size: 18px;
  font-weight: 800 !important;

}*/

.el-breadcrumb {
  font-size: 18px;
  font-weight: bold;
}

.el-breadcrumb__item :deep(.el-breadcrumb__inner.is-link){
  font-size: 18px;
  font-weight: 800 !important;
}
/* 被选中时的颜色 */


.boderline {
  border-style: none;
  border-width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 0px;
}

.tablemain {
  padding: 0px 0px 0px 0px;
  position: relative;
  left: 20px;
  top: 5px;
  right: 0;
  bottom: 0;


}

.tab {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  overflow: hidden;

  margin: auto;
  position: relative;
  left: 00px;
  top: 0px;
  right: 0;
  bottom: 0;
}

//表格间距
.el-table--mini .el-table__cell {
  padding: 4px 0
}

//字体颜色
.el-table tr {
  background-color: transparent;
  color: white;
}

//标题背景颜色
.el-table th {
  background-color: transparent !important;
}

//标题字体颜色
.el-table th > .cell {
  color: white;
}

//去除边框
.el-table--border {
  // border:none;
}

//去除行下划线
.el-table td.el-table__cell {
  // border: 0px;
}

//标题加下划线
.el-table__header-wrapper, .el-table__footer-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

//修改鼠标滑过背景颜色
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: rgba(59, 217, 234, 0.75) !important;
  color: white !important;
}

.el-table {

  border-radius: 3px;
}

.el-table {
  width: 100% !important;
  margin-left: 0px;
  position: relative;
  left: 0px;
  top: 10px;
  right: 0;
  bottom: 0;
  padding: 0;
  background: transparent;
  background: #162248 !important;
  /*
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 1px;
  */

}

.el-table {
  thead {
    color: #080309;
    font-weight: 500;


    & th {
      //inherit：规定应该从父元素继承 background-color 属性的设置。
      //transparent：默认。背景颜色为透明。
      // background-color: inherit !important;
      background-color: transparent;
    }

    & tr {
      // background-color: inherit !important;
      background-color: transparent;
    }
  }
}

.el-table :deep(.el-table__fixed) {
  height: 100% !important; //设置高优先，以覆盖内联样式
}


//解决最后一行多出横线问题
.el-table--border::after,
.el-table--group::after,
.el-table::before,
.el-table__fixed:before,
.el-table__fixed-right:before {
  background-color: transparent;
}

.mt-4.el-button {
  width: 100px;
  position: relative;
  left: 0px;
  top: 10px;
  right: 0;
  bottom: 10px;
  padding: 0;
  margin-bottom: 10px;
}


.el-tooltip__popper {
  max-width: 300px;
}

.pagination-block {
  //background: #162248 !important;
  position: relative;
  //right: 1px;
  //width: 500px;
  top: 20px;
  bottom: 10px;
  //left:50%;
}

.el-pagination {
  justify-content: right; //居中
  //float: left;居左
  //float: right;居右;
}

.el-pagination.is-background .btn-prev {
  background: transparent;
  border-radius: 2px;
  border: 1px solid #fff;
  //color: #fff;
}

.el-pagination.is-background .btn-next {
  background: transparent;
  border-radius: 2px;
  border: 1px solid #fff;
  //color: #fff;
}


.el-pagination.is-background .el-pagination__total {
  background: transparent;
  //color: #fff;
}

.el-pagination.is-background .el-pagination__size {
  background: transparent;
  //color: #fff;
}

.el-pagination.is-background .el-pagination__jump {
  background: transparent;
  //color: #fff;
}

.el-pagination.is-background .el-pager {
  background: transparent;
  //color: #fff;
}

.el-pagination__editor.el-input .el-input__inner {
  background: transparent;
  border: 0px solid ;
  //color: #fff;
}

.el-pagination.is-background.el-pager li:not(.disabled).active {
  //background-color: #2077c3; /*进行修改选中项背景和字体*/
  //color: #fff;
}

.el-pagination.is-background .el-pager li:hover {
 // color: #2077c3 !important; /*hover时候的文字颜色*/
}

.el-pager li.active {
  //color: #2077c3 !important; /*仅设置active时的文字颜色*/
}